$bgColor: darken(#121212, 2%);
$surfaceColor: #1d1d1d;
$primaryColor: #BB86FC;
$secondaryColor: #1F7DEC;
$onBgColor: #D1D1D1;
$onSurfaceColor: #E1E1E1;
$onPrimaryColor: #000000;
$onSecondaryColor: #000000;

